.structure-type-stats-container {
  flex-wrap: wrap;
  justify-content: center;
  // padding: px2vh(20);
  & > .chart-container {
    width: px2vw(147);
    height: px2vh(140);
    margin: px2vh(20);
  }
}
