.road-network-container {
  padding-top: px2vh(14);
  padding-bottom: px2vh(20);
  padding-right: px2vw(20);
  padding-left: px2vw(20);

  // Table
  & > .table-container {
    margin-top: px2vh(12);
    .waring-point-table {
    color: #fff;
    font-size: px2vw(14);
    // color: #9CA3BD;
    .td-body-container {
    }

    .td-body {
      // background: rgba(0,54,130,0.4);
      background: rgba(0,54,130,0.21);
      // background: linear-gradient(180deg, rgba(13,97,157,0.5) 100%,rgba(0,88,154,0.45) 2%);
    }

    // 单元格
    .cell {
      height: px2vh(36);
      text-align: center;
      line-height: px2vw(36);
    }
    .cell.index {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      .status-container {
        color: #fff;
        width: px2vw(42);
        height: px2vh(20);
        line-height: px2vh(20);
        text-align: center;
        font-size: px2vw(14);
        border-radius: px2vw(4);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
      }
    }
    .cell.type {
      width: 25%;
    }
    .cell.code {
      width: 20%;
    }
   .cell.datetime {
      width: 50%;
    }
    & > .table-header {
      position: relative;
      & > .cell {
        // background-color: rgba(0,78,148,0.56);
        background-color: rgba(0,78,148,0.56);
      }
    }

    // & > .table-header::after,
    // & > .table-header::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: px2vw(2); /* 上边框厚度 */
    //   width: 100%;
    //   // background: linear-gradient(
    //   //   to right,
    //   //   #00c3ff,
    //   //   #4cb5c7,
    //   //   #010404,
    //   //   #4cb5c7,
    //   //   #00c3ff
    //   // );
    //   z-index: 2;
    // }

    // & > .table-header::after {
    //   bottom: 0!important;
    // }
  }
  }
}
