.response-plan-container {
  color: #fff;
  font-size: px2vw(12);
  padding: px2vh(16) px2vw(20);
  // Header
  & > .header-container {
    & > .button {
      background-color: rgba(45,116,178,0.5);
      width: px2vw(102);
      height: px2vw(24);
      border-radius: px2vw(4);

      .icon {
        width: px2vw(20);
        height: px2vw(20);
        vertical-align: baseline;
      }
    }
  }

  // List
  & > .card-list-container {
    margin-top: px2vh(16);
    & > .card-item {
      .start-icon {
        width: px2vw(50);
        height: px2vw(36);
        margin-right: px2vw(10);
      }

      .info-container {
        flex: 1;
        overflow: hidden;
        .description-container {
          margin-top: px2vh(10);

          .description {
            flex: 1;
          }

          .button-container {
            .button {
              width: px2vw(64);
              height: px2vw(25);
              line-height: px2vw(25);
              border-radius: px2vw(4);
              text-align: center;
              background-color: rgba(45,116,178,0.5);
            }
            .button:first-of-type {
              margin-right: px2vw(8);
            }
          }
        }
      }
    }
  }
}
