.structure-type-stats-container {
  // flex-wrap: wrap;
  // justify-content: center;
  padding: px2vh(16) px2vw(16);
  // & > .chart-container {
  //   width: px2vw(147);
  //   height: px2vh(140);
  //   margin: px2vh(20);
  //
  // tu
  & > .chart-container {
    width: 100%;
    height: px2vh(220);
  }

  & > .card-container {
    row-gap: px2vh(10);
    column-gap: px2vw(10);
    & > .card-item {
      position: relative;
      width: px2vw(190);
      height: px2vh(59);
      .icon {
        height: px2vs(30);
        margin-right: px2vw(16);
      }

      & > .info-container{
        & > .name {
          background: linear-gradient(5deg, #fff 0%, #48E4F7 99.5849609375%);
         -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;


          font-size: px2vw(18);
          margin-bottom: px2vh(4);
        }
        & > .value-container {
          .value {
            color: #09FFE5;
            font-size: px2vw(16);
            margin-right: px2vw(10);
            font-weight: bold;
          }
          .unit {
            font-size: px2vw(12);
            color: #379FA6;
          }
        }
      }
    }
    & > .card-item::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('./assets/images/icon-bg.png');
      background-size: 100% 100%;
    }


    /* 左上 */
    & > .card-item:nth-of-type(1)::after {
      transform: scaleX(-1);
    }

    /* 右下 */
    & > .card-item:nth-of-type(3)::after {
      transform: scale(-1);
    }

    /* 左下 */
    & > .card-item:nth-of-type(4)::after {
      transform: scaleY(-1);
    }
  }

}
