.structure-component-container {
  width: 100%;
  height: px2vh(680);
  background-image: url('https://n.sinaimg.cn/sinacn10115/799/w2000h1199/20190728/23f7-iakuryx2728275.jpg');
  background-size: cover;
}
