.highway-corridor-container {
  color: #fff;
    font-size: px2vw(13);
    padding: px2vh(8) px2vw(8);
    padding-top: 0;

    .highway-corridor-content-container {

      background-color: rgba(8,22,48,1);
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);

      & > .highway-corridor-header {
        height: px2vh(30);
        line-height: px2vh(30);
        background-image: url('./assets/images/type-bg.png');
        background-size: 100% 100%;
        padding-left: px2vw(8);
        color: rgba(70,190,246,1);
      }

      & > .highway-corridor-item {
        & > .title {
          margin: px2vh(8) 0;
          padding-left: px2vw(8);
        }
      }
    // Table
      & > .index-table {
        & > .table-container {
          .waring-point-table {
          color: #fff;
          font-size: px2vw(12);
          // color: #9CA3BD;
          .td-body-container {
          }

          .td-body {
            // background: rgba(0,54,130,0.4);
            background: rgba(0,54,130,0);
            // background: linear-gradient(180deg, rgba(13,97,157,0.5) 100%,rgba(0,88,154,0.45) 2%);
          }

          // 单元格
          .cell {
            height: px2vh(36);
            text-align: center;
            line-height: px2vw(36);
          }

          .cell.index {
            width: 25%;
          }
          .cell.value {
            width: 10%;
          }
         .cell.current {
            width: 10%;
          }
          .cell.jd {
            width: 15%;
          }

          .cell.xd {
            width: 20%;
          }

          .cell.level {
            width: 20%;
          }

          & > .table-header {
            position: relative;
            & > .cell {
              // background-color: rgba(0,78,148,0.56);
              background-color: rgba(0,78,148,0.56);
            }
          }

          // & > .table-header::after,
          // & > .table-header::before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   height: px2vw(2); /* 上边框厚度 */
          //   width: 100%;
          //   // background: linear-gradient(
          //   //   to right,
          //   //   #00c3ff,
          //   //   #4cb5c7,
          //   //   #010404,
          //   //   #4cb5c7,
          //   //   #00c3ff
          //   // );
          //   z-index: 2;
          // }

          // & > .table-header::after {
          //   bottom: 0!important;
          // }
        }
        }
      }

      // 走廊流速剖面图：
      & > .corridor-container {

        .line-chart-container {
          height: px2vh(200);
          background: #192C5C;
        }
      }

      // 时空演变图
      & > .time-space-container {
        margin-top: px2vh(40);
        .heatmap-chart-container {
          background: #192C5C;
          height: px2vh(132);
        }
      }
    }
}
