
.response-force-component {
  padding: px2vh(10)  px2vw(10);

  // Rows
  & > .row-container{
    .row {
      display: flex;
      justify-content: space-around;

      .card {
        width: 100%;


        & > .title {
          font-size: px2vw(14);
          color: #fff;
          text-align: center;
        }

        .chart-container {
          padding: px2vh(10);
          box-sizing: border-box;

          & > .chart {
            width: px2vh(74);
            height: px2vh(74);
            position: relative;

            & > .chart-img {
               width: px2vh(74);
              height: px2vh(74);
            }

            .chart-x-tip,
            .chart-tip {
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 190;
              font-size: px2vw(20);
              color: #fff;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;

              .value {
                font-size: px2vw(28);
              }


              .unit {
                font-size: px2vw(14);
              }
            }
            .chart-tip.chart-x-tip {
              flex-direction: row;
            }
          }

          & > .chart-legend {
            width: 100%;
            color: #fff;
            font-size: px2vw(14);
            flex: 1;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            overflow: hidden;

            .legend-item {
              .legend-color {
                width: px2vw(24);
                height: px2vw(12);
                border-radius: px2vw(4);
                font-size: px2vw(14);
              }

              .online {
                background-color: #6486E5;
              }

              .offline {
                background-color: #80B9C3;
              }
            }
          }
        }
      }
    }
  }


  // 调度
  & > .today-dispatch-card {
    .dispatch-item-container {
      background-image: url('./assets/images/dispatch-bg.png');
      background-size: 100% 100%;
      width: 100%;
      border-radius: px2vw(46);
      height: px2vw(46);
      overflow: hidden;
      color: #fff;
      padding: 0 px2vw(10);
      font-size: px2vw(14);
      .dispatch-item {
        .dispatch-type {
          height: px2vw(28);
          line-height: px2vw(28);
          padding: px2vh(0)  px2vw(10);
          background: #00AEFF;
          border-radius:  px2vw(28);
          margin-right: px2vw(10);
        }
      }
      .arrow-icon {
        width: px2vw(24);
        height: px2vw(24);
      }
    }
  }
}


