.road-alert-monitor-container {
  width: 100%;
  padding: px2vh(8) px2vw(10);
  // Left
  & > .left-container {
    color: #fff;
    align-items: center;
    .pie-container {
      width: px2vh(66);
      height: px2vh(66);
      background-color: rgba(16,16,16,0.67);
      border-radius: 50%;
      border: px2vw(4) solid rgba(101,132,226,1);
      margin-bottom: px2vh(10);
      .value {
        font-size: px2vw(20);
      }

      .text {
        font-size: px2vw(16);
      }
    }

    & > .level-container {
      width: px2vw(90);
      height: px2vh(46);
      border-radius: px2vw(2);
      background: linear-gradient(90deg, rgba(185,227,244,1) 0%,rgba(152,215,241,1) 50%,rgba(119,203,237,1) 100%);
      font-size: px2vw(12);

      .text {
        font-size: px2vw(16);
        font-weight: bold;
      }
      .name {
        color: #4471C7;
      }
    }
  }

  // Right
  & > .right-container {
    padding-left: px2vw(10);
    height: px2vh(220);
    overflow: hidden;
  }
}
