.road-alert-monitor-card {
  color: #fff;
  font-size: px2vw(13);
  padding-bottom: px2vh(10);
  background-color: rgba(8,22,48,1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
  .grey {
    color: #CCD4F3;
  }
  // Header
  & > .road-alert-monitor-header {
    margin-bottom: px2vh(10);
    .type {
      padding-left: px2vw(8);
      width: px2vw(118);
      height: px2vh(30);
      font-size: px2vw(14);
      background-image: url('./assets/images/type-bg.png');
      background-size: 100% 100%;
    }

    .value {
      word-break: break-word;
    }

    padding-right: px2vw(8);
  }

  // 数据信息
  & > .info-container {
    padding-left: px2vw(8);
    line-height: px2vh(24);
  }

  // 原因
  & > .index-container{
    padding: 0 px2vw(8);
    padding-top: px2vh(4);
  }
}
