// 小模块标题
@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("~@/assets/fonts/YouSheBiaoTiHei.woff");
  font-weight: normal;
  font-style: normal;
  color: red !important;
}

@font-face {
  font-family: "OPPOSans";
  src: url("~@/assets/fonts/OPPOSans-B.woff");
  font-weight: normal;
  font-style: normal;
}

.ff-ys {
  font-family: "YouSheBiaoTiHei";
}


.ff-o {
  font-family: "OPPOSans";
}
