.weather-monitor-container {
  height: px2vh(100);
  & > .weather-monitor-item{
    .icon {
      height: px2vh(40);
      margin-bottom: px2vh(4);
    }

    .value-container {
      font-size: px2vw(12);
      color: #fff;
      font-weight: bold;
    }
  }
}
